In [16]:
link = "https://leetcode.com/problems/employees-earning-more-than-their-managers/description/"
' '.join(word.capitalize() for word in link[30:link.index('/description')].split('-'))
# print(*[f"|   {i}   | []() | [Solution]() | `` |" for i in range(5, 16)], sep='\n')

'Employees Earning More Than Their Managers'

In [13]:
for i in range(2, 10):
    print(f"| {i} | []() | []() | |")

| 2 | []() | []() | |
| 3 | []() | []() | |
| 4 | []() | []() | |
| 5 | []() | []() | |
| 6 | []() | []() | |
| 7 | []() | []() | |
| 8 | []() | []() | |
| 9 | []() | []() | |

In [1]:
import pandas as pd
import numpy as np
from typing import Callable

In [ ]:
data = [[1, 'Joe', 70000, 3], [2, 'Henry', 80000, 4], [3, 'Sam', 60000, None], [4, 'Max', 90000, None]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'managerId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'managerId':'Int64'})

data, f'{'-'*50}', employee

([[1, 'Joe', 70000, 3],
  [2, 'Henry', 80000, 4],
  [3, 'Sam', 60000, None],
  [4, 'Max', 90000, None]],
 '--------------------------------------------------',
    id   name  salary  managerId
 0   1    Joe   70000          3
 1   2  Henry   80000          4
 2   3    Sam   60000       <NA>
 3   4    Max   90000       <NA>)

In [7]:
def find_employees(employee: pd.DataFrame) -> pd.DataFrame:
    return ( employee.merge(right=employee, how='left', left_on='managerId', right_on='id', suffixes=['_e', '_m'])
            .loc[lambda df: df['salary_e'] > df['salary_m'], ['name_e']]
            .rename(columns={'name_e' : 'Employee'})
           )

find_employees(employee)

  Employee
0      Joe

In [8]:
data = [[1, 'Joe', 70000, 3], [2, 'Henry', 80000, 4], [3, 'Sam', 60000, None], [4, 'Max', 90000, None]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'managerId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'managerId':'Int64'})

data, f'{'-'*50}', employee

([[1, 'Joe', 70000, 3],
  [2, 'Henry', 80000, 4],
  [3, 'Sam', 60000, None],
  [4, 'Max', 90000, None]],
 '--------------------------------------------------',
    id   name  salary  managerId
 0   1    Joe   70000          3
 1   2  Henry   80000          4
 2   3    Sam   60000       <NA>
 3   4    Max   90000       <NA>)

In [15]:
import polars as pl
from polars import col


def find_employees(employee: pl.LazyFrame) -> pl.LazyFrame:
    return ( employee.join(other=employee, how='inner', left_on='managerId', right_on='id', suffix="_m")
            .filter(col('salary') > col('salary_m'))
            .select(Employee = col('name'))
           )

find_employees(pl.LazyFrame(employee)) .collect()
# combine_two_tables(pl.LazyFrame(person), pl.LazyFrame(address)).collect()

shape: (1, 1)
┌──────────┐
│ Employee │
│ ---      │
│ str      │
╞══════════╡
│ Joe      │
└──────────┘

In [6]:
import os
import cv2

img_dir = r"c:\Users\user\Downloads\images"

for filename in os.listdir(img_dir):
    imgPath = os.path.join(img_dir, filename)
    cur_img = cv2.imread(imgPath)
    print(type(cur_img))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>