In [39]:
link = "https://leetcode.com/problems/investments-in-2016/description/"
' '.join(word.capitalize() for word in link[30:link.index('/description')].split('-'))
# print(*[f"|   {i}   | []() | [Solution]() | `` |" for i in range(5, 16)], sep='\n')

'Investments In 2016'

In [1]:
import pandas as pd
import numpy as np
from typing import Callable

In [2]:
data = [[1, 10, 5, 10, 10], [2, 20, 20, 20, 20], [3, 10, 30, 20, 20], [4, 10, 40, 40, 40]]
insurance = pd.DataFrame(data, columns=['pid', 'tiv_2015', 'tiv_2016', 'lat', 'lon']).astype({'pid':'Int64', 'tiv_2015':'Float64', 'tiv_2016':'Float64', 'lat':'Float64', 'lon':'Float64'})

insurance

# products, f'{'-'*50}', orders

   pid  tiv_2015  tiv_2016   lat   lon
0    1      10.0       5.0  10.0  10.0
1    2      20.0      20.0  20.0  20.0
2    3      10.0      30.0  20.0  20.0
3    4      10.0      40.0  40.0  40.0

In [32]:
def find_investments(insurance: pd.DataFrame) -> pd.DataFrame:
    return ( insurance.assign(tiv2015_freq = insurance.groupby(by='tiv_2015')     ['pid'].transform('size'),
                              lat_lon_freq = insurance.groupby(by=['lat', 'lon']) ['pid'].transform('size'))
            .query("(tiv2015_freq > 1) & (lat_lon_freq == 1)")
            [['tiv_2016']].sum()
                          .round(decimals=2)
                          .to_frame(name='tiv_2016')
           )

find_investments(insurance)

          tiv_2016
tiv_2016      45.0

In [3]:
data = [[1, 10, 5, 10, 10], [2, 20, 20, 20, 20], [3, 10, 30, 20, 20], [4, 10, 40, 40, 40]]
insurance = pd.DataFrame(data, columns=['pid', 'tiv_2015', 'tiv_2016', 'lat', 'lon']).astype({'pid':'Int64', 'tiv_2015':'Float64', 'tiv_2016':'Float64', 'lat':'Float64', 'lon':'Float64'})

insurance

# products, f'{'-'*50}', orders

   pid  tiv_2015  tiv_2016   lat   lon
0    1      10.0       5.0  10.0  10.0
1    2      20.0      20.0  20.0  20.0
2    3      10.0      30.0  20.0  20.0
3    4      10.0      40.0  40.0  40.0

In [ ]:
import polars as pl
from polars import col


def find_investments(insurance: pl.LazyFrame) -> pl.LazyFrame: 
    return ( insurance.with_columns(tiv2015_freq = col('pid').len().over(partition_by='tiv_2015'),
                                    lat_lon_freq = col('pid').len().over(partition_by=['lat', 'lon']))
            .filter(col('tiv2015_freq').gt(1) & col('lat_lon_freq').eq(1))
            .select(col('tiv_2016').sum().round(decimals=2))
           )

find_investments(pl.LazyFrame(insurance)).collect()

shape: (1, 1)
┌──────────┐
│ tiv_2016 │
│ ---      │
│ f64      │
╞══════════╡
│ 45.0     │
└──────────┘

In [6]:
import os
import cv2

img_dir = r"c:\Users\user\Downloads\images"

for filename in os.listdir(img_dir):
    imgPath = os.path.join(img_dir, filename)
    cur_img = cv2.imread(imgPath)
    print(type(cur_img))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>