In [19]:
link = "https://leetcode.com/problems/duplicate-emails/description/"
' '.join(word.capitalize() for word in link[30:link.index('/description')].split('-'))
# print(*[f"|   {i}   | []() | [Solution]() | `` |" for i in range(5, 16)], sep='\n')

'Duplicate Emails'

In [13]:
for i in range(2, 10):
    print(f"| {i} | []() | []() | |")

| 2 | []() | []() | |
| 3 | []() | []() | |
| 4 | []() | []() | |
| 5 | []() | []() | |
| 6 | []() | []() | |
| 7 | []() | []() | |
| 8 | []() | []() | |
| 9 | []() | []() | |

In [9]:
import pandas as pd
import numpy as np
from typing import Callable

In [7]:
for i in range(21, 31):
    print(f"Ami apnake {i} bar valobashi")

Ami apnake 21 bar valobashi
Ami apnake 22 bar valobashi
Ami apnake 23 bar valobashi
Ami apnake 24 bar valobashi
Ami apnake 25 bar valobashi
Ami apnake 26 bar valobashi
Ami apnake 27 bar valobashi
Ami apnake 28 bar valobashi
Ami apnake 29 bar valobashi
Ami apnake 30 bar valobashi

In [10]:
data = [[1, 'a@b.com'], [2, 'a@b.com'], [3, 'a@b.com']]
person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'Int64', 'email':'object'})

person
# data, f'{'-'*50}', employee

   id    email
0   1  a@b.com
1   2  a@b.com
2   3  a@b.com

In [18]:
def duplicate_emails(person: pd.DataFrame) -> pd.DataFrame:
    return ( person.groupby(by='email', as_index=False)
            .agg(numberOfEmail = ('email', 'size'))
            .loc[lambda df: df['numberOfEmail'] > 1, ['email']]
            .rename(columns={'email' : 'Email'})
           )

duplicate_emails(person)

     Email
0  a@b.com

In [19]:
data = [[1, 'a@b.com'], [2, 'a@b.com'], [3, 'a@b.com']]
person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'Int64', 'email':'object'})

person
# data, f'{'-'*50}', employee

   id    email
0   1  a@b.com
1   2  a@b.com
2   3  a@b.com

In [ ]:
import polars as pl
from polars import col

def duplicate_emails(person: pl.LazyFrame) -> pl.LazyFrame:
    return ( person.group_by(Email = 'email')
            .agg(numberOfEmail = col('email').len())
            .filter(col('numberOfEmail') > 1)
            .select('Email')
           )

    #  Second Approach
    return ( person.filter(col('email').is_duplicated())
            .select(Email = col('email').unique())
           )

duplicate_emails(pl.LazyFrame(person)) .collect()
# combine_two_tables(pl.LazyFrame(person), pl.LazyFrame(address)).collect()

shape: (1, 1)
┌─────────┐
│ Email   │
│ ---     │
│ str     │
╞═════════╡
│ a@b.com │
└─────────┘

In [6]:
import os
import cv2

img_dir = r"c:\Users\user\Downloads\images"

for filename in os.listdir(img_dir):
    imgPath = os.path.join(img_dir, filename)
    cur_img = cv2.imread(imgPath)
    print(type(cur_img))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>