In [12]:
link = "https://leetcode.com/problems/combine-two-tables/description/"
' '.join(word.capitalize() for word in link[30:link.index('/description')].split('-'))
# print(*[f"|   {i}   | []() | [Solution]() | `` |" for i in range(5, 16)], sep='\n')

'Combine Two Tables'

In [13]:
for i in range(2, 10):
    print(f"| {i} | []() | []() | |")

| 2 | []() | []() | |
| 3 | []() | []() | |
| 4 | []() | []() | |
| 5 | []() | []() | |
| 6 | []() | []() | |
| 7 | []() | []() | |
| 8 | []() | []() | |
| 9 | []() | []() | |

In [1]:
import pandas as pd
import numpy as np
from typing import Callable

In [2]:
data = [[1, 'Wang', 'Allen'], [2, 'Alice', 'Bob']]
person = pd.DataFrame(data, columns=['personId', 'firstName', 'lastName']).astype({'personId':'Int64', 'firstName':'object', 'lastName':'object'})
data = [[1, 2, 'New York City', 'New York'], [2, 3, 'Leetcode', 'California']]
address = pd.DataFrame(data, columns=['addressId', 'personId', 'city', 'state']).astype({'addressId':'Int64', 'personId':'Int64', 'city':'object', 'state':'object'})

person, f'{'-'*50}', address

(   personId firstName lastName
 0         1      Wang    Allen
 1         2     Alice      Bob,
 '--------------------------------------------------',
    addressId  personId           city       state
 0          1         2  New York City    New York
 1          2         3       Leetcode  California)

In [4]:
"firstName | lastName | city          | state".replace(' ', '').split('|')

['firstName', 'lastName', 'city', 'state']

In [8]:
def combine_two_tables(person: pd.DataFrame, address: pd.DataFrame) -> pd.DataFrame:
    return ( person.merge(right=address, how='left', on='personId')
            .loc[:, ['firstName', 'lastName', 'city', 'state']]
           )

combine_two_tables(person, address)

  firstName lastName           city     state
0      Wang    Allen            NaN       NaN
1     Alice      Bob  New York City  New York

In [9]:
data = [[1, 'Wang', 'Allen'], [2, 'Alice', 'Bob']]
person = pd.DataFrame(data, columns=['personId', 'firstName', 'lastName']).astype({'personId':'Int64', 'firstName':'object', 'lastName':'object'})
data = [[1, 2, 'New York City', 'New York'], [2, 3, 'Leetcode', 'California']]
address = pd.DataFrame(data, columns=['addressId', 'personId', 'city', 'state']).astype({'addressId':'Int64', 'personId':'Int64', 'city':'object', 'state':'object'})

person, f'{'-'*50}', address

(   personId firstName lastName
 0         1      Wang    Allen
 1         2     Alice      Bob,
 '--------------------------------------------------',
    addressId  personId           city       state
 0          1         2  New York City    New York
 1          2         3       Leetcode  California)

In [11]:
import polars as pl
from polars import col


def combine_two_tables(person: pl.LazyFrame, address: pl.LazyFrame) -> pl.LazyFrame:
    return ( person.join(other=address, how='left', on='personId')
            .select(col('firstName', 'lastName', 'city', 'state'))
           )

combine_two_tables(pl.LazyFrame(person), pl.LazyFrame(address)).collect()

shape: (2, 4)
┌───────────┬──────────┬───────────────┬──────────┐
│ firstName ┆ lastName ┆ city          ┆ state    │
│ ---       ┆ ---      ┆ ---           ┆ ---      │
│ str       ┆ str      ┆ str           ┆ str      │
╞═══════════╪══════════╪═══════════════╪══════════╡
│ Wang      ┆ Allen    ┆ null          ┆ null     │
│ Alice     ┆ Bob      ┆ New York City ┆ New York │
└───────────┴──────────┴───────────────┴──────────┘

In [6]:
import os
import cv2

img_dir = r"c:\Users\user\Downloads\images"

for filename in os.listdir(img_dir):
    imgPath = os.path.join(img_dir, filename)
    cur_img = cv2.imread(imgPath)
    print(type(cur_img))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>